.skills {
    margin-top: 100px;
}
.skill {
    text-align: center;
    margin: 15px;
}
.skill img {
    width: 40px;
    height: 45px;
    margin-bottom: 10px;
    transition: .3s;
}
.skill:hover img {
    transform: scale(1.3);
}