@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Source+Code+Pro&display=swap');

.app {
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Exo 2', sans-serif;
  background: #212529;
  color: white;
  /* overflow-x: hidden; */
}

@media  only screen and (max-width: 768px) {
  .app {
    overflow: hidden;
  }
}