.banner {
    background: linear-gradient(90deg, rgb(0, 5, 29), rgb(39, 39, 39));
    width: 100%;
    padding: 100px 0 50px;
}
.developer-img {
    width: 300px;
    height: 400px;
    display: block;
    margin: 0 auto -90px;
    border-radius: 7px;
}
.banner h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    margin: 0;
}
.btn-regular {
    border: 2px solid rgb(255, 255, 255);
    background: transparent;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    transition: .3s;
}
.btn-regular:hover {
    background: rgb(71, 71, 71);
}

@media only screen and (max-width: 768px) {
    .banner {
        padding: 25px 0;
    }
    .developer-img {
        margin-bottom: 15px;
    }
}